<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		
		<dict>
			<key>name</key>
			<string>mg_bee.png</string>

			<key>rect</key>
			<string>{{674, 1816}, {162, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_bird_ala_abajo.png</string>

			<key>rect</key>
			<string>{{762, 1284}, {164, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_bird_ala_arriba.png</string>

			<key>rect</key>
			<string>{{728, 1474}, {164, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_boton_hojas.png</string>

			<key>rect</key>
			<string>{{1154, 1414}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_boton_play_final.png</string>

			<key>rect</key>
			<string>{{0, 1542}, {224, 256}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_boton_play_final_pressed.png</string>

			<key>rect</key>
			<string>{{0, 1284}, {240, 256}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_broken_egg.png</string>

			<key>rect</key>
			<string>{{544, 1848}, {128, 188}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_help.png</string>

			<key>rect</key>
			<string>{{1228, 1674}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_help_pressed.png</string>

			<key>rect</key>
			<string>{{1152, 1544}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_home.png</string>

			<key>rect</key>
			<string>{{1924, 0}, {122, 124}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_home_pressed.png</string>

			<key>rect</key>
			<string>{{1924, 126}, {122, 124}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_pause.png</string>

			<key>rect</key>
			<string>{{928, 1284}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_pause_pressed.png</string>

			<key>rect</key>
			<string>{{1116, 1828}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_reload.png</string>

			<key>rect</key>
			<string>{{1058, 1284}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_reload_pressed.png</string>

			<key>rect</key>
			<string>{{1188, 1284}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_sound_off.png</string>

			<key>rect</key>
			<string>{{1024, 1414}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_sound_on.png</string>

			<key>rect</key>
			<string>{{1098, 1698}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_duck_ala_abajo.png</string>

			<key>rect</key>
			<string>{{892, 1604}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_duck_ala_arriba.png</string>

			<key>rect</key>
			<string>{{986, 1896}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_egg.png</string>

			<key>rect</key>
			<string>{{242, 1872}, {128, 174}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_eight.png</string>

			<key>rect</key>
			<string>{{372, 1284}, {128, 198}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_feathers.png</string>

			<key>rect</key>
			<string>{{838, 1916}, {146, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_five.png</string>

			<key>rect</key>
			<string>{{468, 1484}, {128, 172}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_ayuda.png</string>

			<key>rect</key>
			<string>{{962, 642}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_completo.png</string>

			<key>rect</key>
			<string>{{0, 0}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_game_over.png</string>

			<key>rect</key>
			<string>{{962, 0}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_main.png</string>

			<key>rect</key>
			<string>{{0, 642}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_four.png</string>

			<key>rect</key>
			<string>{{632, 1284}, {128, 188}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fried_egg.png</string>

			<key>rect</key>
			<string>{{502, 1284}, {128, 192}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_hoja_roja.png</string>

			<key>rect</key>
			<string>{{0, 1800}, {240, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_hoja_verde.png</string>

			<key>rect</key>
			<string>{{226, 1542}, {240, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_hojas.png</string>

			<key>rect</key>
			<string>{{762, 1604}, {128, 160}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_icono_pajaro_muerto.png</string>

			<key>rect</key>
			<string>{{372, 1868}, {170, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_icono_patito.png</string>

			<key>rect</key>
			<string>{{372, 1672}, {128, 194}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_nine.png</string>

			<key>rect</key>
			<string>{{242, 1284}, {128, 220}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_one.png</string>

			<key>rect</key>
			<string>{{242, 1672}, {128, 198}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_seven.png</string>

			<key>rect</key>
			<string>{{598, 1478}, {128, 168}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_six.png</string>

			<key>rect</key>
			<string>{{838, 1766}, {128, 148}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_three.png</string>

			<key>rect</key>
			<string>{{632, 1648}, {128, 166}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_transformer_ala_abajo.png</string>

			<key>rect</key>
			<string>{{894, 1414}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_transformer_ala_arriba.png</string>

			<key>rect</key>
			<string>{{968, 1750}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_two.png</string>

			<key>rect</key>
			<string>{{1022, 1560}, {128, 136}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_zero.png</string>

			<key>rect</key>
			<string>{{502, 1658}, {128, 188}}</string>
		</dict>
		
</array>
</plist>