<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		
		<dict>
			<key>name</key>
			<string>mg_arrow.png</string>

			<key>rect</key>
			<string>{{988, 1414}, {149, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_bee.png</string>

			<key>rect</key>
			<string>{{632, 1798}, {174, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_bird_ala_abajo.png</string>

			<key>rect</key>
			<string>{{808, 1794}, {164, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_bird_ala_arriba.png</string>

			<key>rect</key>
			<string>{{892, 1284}, {164, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_boton_hojas.png</string>

			<key>rect</key>
			<string>{{1058, 1284}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_boton_play_final.png</string>

			<key>rect</key>
			<string>{{0, 1542}, {224, 256}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_boton_play_final_pressed.png</string>

			<key>rect</key>
			<string>{{0, 1284}, {240, 256}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_broken_egg.png</string>

			<key>rect</key>
			<string>{{502, 1284}, {128, 188}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_help.png</string>

			<key>rect</key>
			<string>{{1269, 1414}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_help_pressed.png</string>

			<key>rect</key>
			<string>{{1139, 1414}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_home.png</string>

			<key>rect</key>
			<string>{{1924, 0}, {122, 124}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_home_pressed.png</string>

			<key>rect</key>
			<string>{{1924, 126}, {122, 124}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_pause.png</string>

			<key>rect</key>
			<string>{{1259, 1544}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_pause_pressed.png</string>

			<key>rect</key>
			<string>{{1389, 1544}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_reload.png</string>

			<key>rect</key>
			<string>{{1188, 1284}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_reload_pressed.png</string>

			<key>rect</key>
			<string>{{1364, 1674}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_sound_off.png</string>

			<key>rect</key>
			<string>{{1318, 1284}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_button_sound_on.png</string>

			<key>rect</key>
			<string>{{1234, 1828}, {128, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_duck_ala_abajo.png</string>

			<key>rect</key>
			<string>{{999, 1544}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_duck_ala_arriba.png</string>

			<key>rect</key>
			<string>{{1129, 1544}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_egg.png</string>

			<key>rect</key>
			<string>{{632, 1284}, {128, 174}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_eight.png</string>

			<key>rect</key>
			<string>{{372, 1798}, {128, 198}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_feathers_bird.png</string>

			<key>rect</key>
			<string>{{226, 1672}, {140, 124}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_feathers_duck.png</string>

			<key>rect</key>
			<string>{{368, 1672}, {140, 124}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_five.png</string>

			<key>rect</key>
			<string>{{728, 1460}, {128, 172}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_ayuda.png</string>

			<key>rect</key>
			<string>{{962, 642}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_completo.png</string>

			<key>rect</key>
			<string>{{0, 642}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_game_over.png</string>

			<key>rect</key>
			<string>{{0, 0}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fondo_main.png</string>

			<key>rect</key>
			<string>{{962, 0}, {960, 640}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_four.png</string>

			<key>rect</key>
			<string>{{468, 1478}, {128, 188}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_fried_egg.png</string>

			<key>rect</key>
			<string>{{372, 1284}, {128, 192}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_hoja_roja.png</string>

			<key>rect</key>
			<string>{{226, 1542}, {240, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_hoja_verde.png</string>

			<key>rect</key>
			<string>{{0, 1800}, {240, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_hojas.png</string>

			<key>rect</key>
			<string>{{869, 1622}, {128, 160}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_icono_pajaro_muerto.png</string>

			<key>rect</key>
			<string>{{697, 1664}, {170, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_icono_patito.png</string>

			<key>rect</key>
			<string>{{242, 1284}, {128, 194}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_nest.png</string>

			<key>rect</key>
			<string>{{510, 1668}, {185, 128}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_nine.png</string>

			<key>rect</key>
			<string>{{242, 1798}, {128, 220}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_one.png</string>

			<key>rect</key>
			<string>{{502, 1798}, {128, 198}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_seven.png</string>

			<key>rect</key>
			<string>{{762, 1284}, {128, 168}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_six.png</string>

			<key>rect</key>
			<string>{{974, 1784}, {128, 148}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_three.png</string>

			<key>rect</key>
			<string>{{858, 1454}, {128, 166}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_transformer_ala_abajo.png</string>

			<key>rect</key>
			<string>{{1104, 1690}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_transformer_ala_arriba.png</string>

			<key>rect</key>
			<string>{{1104, 1836}, {128, 144}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_two.png</string>

			<key>rect</key>
			<string>{{1234, 1690}, {128, 136}}</string>
		</dict>
		
		<dict>
			<key>name</key>
			<string>mg_zero.png</string>

			<key>rect</key>
			<string>{{598, 1474}, {128, 188}}</string>
		</dict>
		
</array>
</plist>